.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10) 0;
    border-top: rem(1) solid $light-g;
}
.footer__font {
    text-transform: none;
}
.footer__span {
    color: $pink;
}
.form__input {
    height: rem(36);
    width: rem(230);
    font-size: rem(15);
    font-family: $text;
    font-weight: lighter;
    color: $light-g;
    text-align: left;
    border: rem(1) solid $light-g;
    padding: rem(13) 0 rem(13) rem(13);
    opacity: 0.3;
    font-style: italic;
}
.form__subscribe {
    height: rem(36);
    width: rem(150);
    background-color: $aqua;
    @include title-white;
    font-size: rem(15);
    text-transform: uppercase;
    text-align: center;
    margin-left: rem(-5);
    border: rem(1) solid $aqua;
}