* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1220px;
    padding: 0 5px;
    margin: auto;
}
.mogo {
    font-size: 30px;
    @include title-white;
    line-height: 36px;
    text-transform: capitalize;
}
.g {
    text-transform: uppercase;
}
.button {
    display: block;
    font-size: 14px;
    @include title-white;
    text-align: center;
    text-transform: uppercase;
    border: solid 3px $white;
    background-color:rgba(0, 0, 0, -1.5);
    margin: 0 auto;
    padding: 10px 28px;
}
.title {
    font-size: 30px;
    @include title-grey;
    line-height: 30px;
    margin-bottom: 90px;
    position: relative;
}
.title:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: $pink;
    top: 65px;
    left: 580px;
    z-index: 1;
}
.subtitle {
    font-size: 24px;
    font-family: $sub-title;
    text-align: center;
    color: $grey;
    margin-bottom: 22px;
    line-height: 24px;
}
.caption {
    @include title-grey;
    font-size: 14px;
    line-height: 14px;
}
.text {
    font-size: 15px;
    font-family: $text;
    color: $l-gray;
    line-height: 24px;
}
