.header__nav {
    flex-basis: 40.98%;
}
.header__header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(165);
}
.header__title {
    font-size: rem(150);
    @include title-white;
    text-transform: uppercase;
    text-align: center;
    line-height: rem(140);
    width: rem(820);
    margin: 0 auto rem(110);
}
.header__subtitle {
    font-size: rem(72);
    line-height: rem(72);
    color: $white;
    margin-bottom: rem(40);
}