.cart {
    display: block;
    width: 18px; 
    height: 15px;
    background: url(../picture/css_sprites.png) -48px -114px;
}
.glass {
    display: block;
    width: 18px; 
    height: 18px;
    background: url(../picture/css_sprites.png) -10px -114px;
}
.alarm {
    width: 32px; 
    height: 31px;
    background: url(../picture/css_sprites.png) -62px -62px;
}
.line-graph {
    width: 32px; 
    height: 32px;
    background: url(../picture/css_sprites.png) -10px -62px;
}
.computer {
    width: 32px; 
    height: 28px;
    background: url(../picture/css_sprites.png) -114px -61px;
}
.book {
    width: 32px; 
    height: 32px;
    background: url(../picture/css_sprites.png) -10px -10px;
}
.home {
    width: 32px; 
    height: 31px;
    background: url(../picture/css_sprites.png) -114px -10px;
}
.image {
    width: 32px; 
    height: 32px;
    background: url(../picture/css_sprites.png) -62px -10px;
}